body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-box{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    text-align: center;
    margin: 2vh 0 4vh;
}

#message{
    font-size: 18px;
    margin: 0 0 5vh;
}

.submit-btn, .home-btn, .play-again-btn{
    width: 135px;
    height: 40px;
    font-size: 16px;
    border: 2px solid #654321;
    border-radius: 4px;
}

.home-btn{
    margin: 0 0 5vh;
    height: 50px;
}

.submit-btn:hover, .home-btn:hover, .play-again-btn:hover{
    background: #654321;
    color: #fefefe;
}